
body{
	padding: 1rem 1rem !important;
}

.entry-content
{
	z-index: 1 !important;
}

/* Foundation overriding */

button, .button
{
	background-color: #dd4b39 !important;
	border-color: #d14836 !important;
	color: #fff !important;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #C0402F !important; 
}

a{
	color: #d14836 !important;
}

.tabs dd.active a, .tabs .tab-title.active a
{
	border-top: 1px solid #dd4b39;
	border-left: 1px solid #dd4b39;
	border-right: 1px solid #dd4b39;
	border-bottom: 1px solid #fff;
}

.tabs dd a, .tabs .tab-title a
{
	border-bottom: 1px solid #dd4b39;
}

.tabs-content
{
	padding: 1rem;
	top: -2px;
	position: relative;
	z-index: -10;
	border: 1px solid #dd4b39;
	border-right: 1px solid #dd4b39;
	border-bottom: 1px solid #dd4b39;
}

/* TOP BAR */
.top-bar {
	background: #fff !important;
}

.top-bar-section li.dropdown, .top-bar-section ul.dropdown
{
	position: relative !important;
	min-width: inherit !important;
	width: 100% !important;
	clip: initial !important;
	left: 0 !important;
}

@media only screen and (min-width: 40.063em)
{
	.top-bar-section li.dropdown, .top-bar-section ul.dropdown
	{
		position: relative !important;
		height: 45px !important;
		min-width: inherit !important;
		width: 100px !important;
		clip: initial !important;
	}
	
	.top-bar-section .dropdown li
	{
		border-left: #000 2px solid;
	}	

	.top-bar-section li.dropdown:hover, .top-bar-section ul.dropdown:hover, .top-bar-section ul.dropdown

	{
		overflow: visible !important;
		height: 100% !important;
		z-index: 99;
	}
	
	.top-bar-section ul.dropdown:hover, .top-bar-section ul.dropdown
	{
		position: absolute !important;		
	}

	.top-bar-section .dropdown li .dropdown
	{
		left: 100% !important;
		width: 200px !important;
	}

	.top-bar-section ul.dropdown li ul.dropdown li.dropdown
	{
		top: 0 !important;
		left: 0 !important;
	}
}

.top-bar-section li.hover > a:not(.button) {
	background-color: #fff !important;
	background: #fff !important;
	color: #000!important; 
}
.top-bar-section li:not(.has-form) a:not(.button) {
	background: #fff !important; 
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: #000 !important;
	background: #000 !important; 
	color: #fff !important;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
	color: #fff !important;
	background: #d14836 !important; 
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
	background: #d14836 !important;
	color: #fff !important; 
}
.top-bar-section ul li > a
{
	color: #000 !important;
}

.top-bar .toggle-topbar.menu-icon a span::after {
	box-shadow: 0 0 0 1px #000, 0 7px 0 1px #000, 0 14px 0 1px #000 !important;
}
.top-bar .toggle-topbar.menu-icon a {
	color: #000 !important;
}
.top-bar.expanded .title-area {
	background: #fff !important;
}
	
.top-bar-section ul
{
	width: 100% !important;
	border-bottom: 1px #000 solid;
}
	
li.name
{
	border-bottom: 1px #000 solid;
}
	
/* QTRANSLATE */
/* Add flags to header, see also accompanying php */
ul.ppqtrans_language_chooser {
    padding: 0;
    margin: 0;
    list-style-type: none;
} 
 
ul.ppqtrans_language_chooser a {
    margin-left: 0;
    padding: 22px 20px;
    background-position: bottom;
} 

ul.ppqtrans_language_chooser li {
	display: inline-block;
} 
 
ul.ppqtrans_language_chooser > .active > a {
    border-bottom: 2px solid #ECE91B;
} 

.ppqtrans_flag_en, .ppqtrans_flag_it, .ppqtrans_flag_fr
{
	background-size: 30px !important;
} 

/*GOOGLE MAP*/
#legend {
	font-family: Arial, sans-serif;
	background-color: #fff;
	background-color: rgba(255,255,255,0.9);
	padding: 10px;
	margin-left: 60px;
	border: 1px solid #000;
}
#legend h3 {
	margin-top: 0;
}
#legend img {
	vertical-align: middle;
	display: inline !important;
}

#legend p
{
	margin-bottom: 0.50rem !important;
}

/* FOOTER */

div.lower
{
	margin-top: 0.50rem;
}

.full-width {
	max-width: 1400px;
}

.credits
{
	font-size: 0.75em !important;
	text-transform: uppercase;
}

.credits a
{
	color: orange !important;
	font-size: 1em !important;
}

.footer {
	background-color: #ff4444;
	padding-right: 1rem;
	text-align: center;
	color: #fff;
}
.footer i {
	font-size: 100px;
}

.footer h4 {
	color: #fff;
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 2.5rem;
	margin-bottom: 10px;
}
.footer p, .footer a {
	font-weight: 300;
	font-size: .8em;
	color: #fff;
}

.footer-links {
	list-style-type: none;
}
.footer-links li {
	margin-top: .5em;
}

.footer input, .footer .button
{
	margin: 0 !important;
}

.footer .button {
	background-color: #fff;
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEFEFEF');
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(73%, #f7f7f7), color-stop(100%, #efefef));
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 73%, #efefef 100%);
	background-image: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 73%, #efefef 100%);
	background-image: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 73%, #efefef 100%);
	background-image: linear-gradient(top, #ffffff 0%, #f7f7f7 73%, #efefef 100%);
	border: 1px solid rgba(52, 73, 94, 0.2);
	color: #d14836 !important;
	font-size: 0.75em;
	text-transform: uppercase;
	padding-left: 1rem;
	padding-right: 1rem;
}
.footer .button:hover {
	color: #ECE91B !important;
	background-color: #fff;
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEDEDED');
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(73%, #efefef), color-stop(100%, #ededed));
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #efefef 73%, #ededed 100%);
	background-image: -moz-linear-gradient(top, #ffffff 0%, #efefef 73%, #ededed 100%);
	background-image: -o-linear-gradient(top, #ffffff 0%, #efefef 73%, #ededed 100%);
	background-image: linear-gradient(top, #ffffff 0%, #efefef 73%, #ededed 100%);
	border-color: rgba(52, 73, 94, 0.3);
	-webkit-box-shadow: 0px 0px 6px rgba(52, 73, 94, 0.1);
	-moz-box-shadow: 0px 0px 6px rgba(52, 73, 94, 0.1);
	box-shadow: 0px 0px 6px rgba(52, 73, 94, 0.1);
}
.footer .button:active {
	-webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1) inset;
}              

.center.row {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	max-width: 500px;
}

.signup-panel {
	padding: 15px;
}

.signup-panel i {
	font-size: 30px;
	line-height: 50px;
	color: #999;
}

.signup-panel form input, .signup-panel form span {
	height: 50px;
}

.signup-panel .welcome {
	font-size: 26px;
	text-align: center;
	margin-left: 0;
}

section.active {
	padding-top: 75px !important;
}

p.title {
	border-bottom: 1px solid #cccccc !important;
}          

/* Comments */
.comment {
	list-style: none;
	margin: 0;
}